<div class="card">
  <div class="card-header bg-info text-white">
    <h2> Détails du produit : {{productId}} </h2>
  </div>
  <div class="card-body">
    <table class="table">
     <tbody>
        <tr>
          <td> <strong>Titre du produit </strong> </td>
          <td> {{product?.productName}}</td>
        </tr>
        <tr>
          <td> <strong>Prix du produit </strong> </td>
          <td> {{product?.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<a [routerLink]="['/detail/8']" routerLinkActive="router-link-active" >Previous</a>
<a [routerLink]="['/detail/11']" routerLinkActive="router-link-active">Next</a>
